<section class="py-4 px-6">
  <title-component
    [title]="
      'まずは基本的な操作に慣れるためのすごく簡易的なTODOアプリケーション'
    "
  />
  <div class="flex mt-4 text-gray-600">
    <todo-item
      class="w-1/2 p-3"
      [todos]="todos_yet"
      [title]="yet"
      [noListMsg]="'もうタスクはなし！今日はもう遊んじゃうおう！'"
      (todoClick)="finishTodo($event)"
    />
    <todo-item
      class="w-1/2 p-3"
      [todos]="todos_finished"
      [title]="finished"
      [noListMsg]="'まだ何も終わってない！さっさとやっちまおう！'"
      (todoClick)="returnTodo($event)"
    />
  </div>
</section>
